@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    <!doctype html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@ViewData["Title"] - Work-Io</title>

      
        

    </head>
    <body style="margin-right:50px; background-color:mistyrose; margin-left:50px; margin-top:25px; border:double; border-color:darkmagenta;">
       
		<div class="text-center">
			<h3 class="display-4">Work-Io </h3>
			<figure align="center">

				<img src="https://www.viverosbustamante.com/imagenes/rh.png" title="Fondo empresa Work-Io">
				
			</figure>
			<p>
				<em>
					<font size="4">
						El servicio de Outsourcing de Recursos Humanos es una perfecta alternativa tanto para empresas pequeñas y grandes
						en búsqueda de retener el talento de personal para hacer crecer su compañía, ya que el servicio de Outsourcing de Recursos Humanos,
						permite optimizar no sólo en tiempo, también dinero por todo lo que implica llevar una administración del personal con una alta eficiencia.
					</font>
				</em>
			</p>
			<btn><a class="nav-link" asp-page="/Login">Iniciar sesión</a></btn>
		</div>


    </body>
    </html>
        }

