@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    <!doctype html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@ViewData["Title"] - Work-Io</title>
    </head>
    <body style="margin-right:50px; background-color:mistyrose; margin-left:50px; margin-top:25px; border:double; border-color:darkmagenta;">
    </body>
    </html>
        }

