@page
@model RhUI.Pages.LoginModel
@{

	<body style=" background-color:mistyrose ">
		<section class="user">
			<div class="user_options-container">

				<div class="user_options-forms" id="user_options-forms">
					<div class="user_forms-login">
						<h2 class="forms_title">Iniciar sesión</h2>
						<form method="post">
							<fieldset class="forms_fieldset">
								<div class="forms_field">
									<input type="text" class="form-control" role="textbox" asp-for="@Model.Cuenta.Correo" placeholder="Correo@correo.com" required="required"  >
								</div>
								<div class="forms_field">
									<input type="password" class="form-control" role="textbox" asp-for="@Model.Cuenta.Contrasenia" placeholder="Contraseña" required="required">
								</div>
							</fieldset>
							<div class="forms_buttons">
								
								<button type="submit" class="btn btn-success">Iniciar Sesion</button>

							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

		<link href="~/css/Login.css" rel="stylesheet" />
		<script src="~/js/Login.js"></script>
	</body>

}