@page
@model RhUI.Pages.Proyect.PageCandidato.CreateModel
@{
	<!doctype html>
	<title>@ViewData["Title"] - Work-Io</title>

	<header>
		<link href="~/css/imagen.css" rel="stylesheet" />
		<script src="~/js/imagen.js"></script>
		<script src="http://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js"></script>
	</header>

	<html>
	<body style="margin-right:50px; background-color:white; margin-left:50px; margin-top:25px; border:double; border-color:darkmagenta;">
		<form method="post" enctype="multipart/form-data">

			<div class="container">

				<h3>Registro de candidatos</h3>
				<p style="color:red; font-size:12px;">Maximo registro de 10 candidatos por orden</p>

				<!--Pendiente que registre y suba la foto-->



				<label asp-for="Candidato.OrdenId">Seleccione el puesto al que el can didato se postulo</label>
				<select asp-for="Candidato.OrdenId" asp-items="@(new SelectList(Model.OrdenList , "Id" , "PuestoSolicitado"))">
					<option>Selecciona un puesto </option>

				</select>
				<br>
				<br>
				<label asp-for="Candidato.Nombre ">Nombre:</label>
				<input type="text" asp-for="Candidato.Nombre" placeholder="Nombre">
				<br>
				<br>
				<label asp-for="Candidato.Apellido">Apellido:</label>
				<input type="text" asp-for="Candidato.Apellido" placeholder="Apellido">
				<!--Aqui ira el telefono del candidato , pendiente -->


			</div>
			<br>
			<br>

			<div class="container">
				<label asp-for="Candidato.Direccion">Direccion:</label>
				<input type="text" asp-for="Candidato.Direccion" placeholder="Direccion">
				<label asp-for="Candidato.FechaNac">Fecha de Nacimiento:</label>
				<input type="date" asp-for="Candidato.FechaNac" placeholder="Fecha Nacimiento">
				<select asp-for="Candidato.Genero">
					<option value="select" selected>Selecciona un genero </option>
					<option value="true">Masculino </option>
					<option value="false">Femenino</option>
				</select>
			</div>
			<br>
			<br>
			<div class="container">
				<label asp-for="Candidato.Curp">CURP:</label>
				<input type="text" asp-for="Candidato.Curp" placeholder="CURP">

				<label asp-for="Candidato.EstadoCivil">Estado Civil:</label>
				<select asp-for="Candidato.EstadoCivil">
					<option value="selectCiv" selected>Selecciona un estado civil </option>
					<option value="Casado">Casado </option>
					<option value="Soltero">Soltero</option>
					<option value="Union libre">Union Libre</option>
					<option value="Viudo">Viudo</option>
					<option value="Divorciado">Divorciado</option>
				</select>

			</div>
			<label asp-for="Candidato.NacionalidadId">Seleccione la nacionalidad</label>
			<select asp-for="Candidato.NacionalidadId" asp-items="@(new SelectList(Model.NacionalidadList , "Id" , "Nombre"))">
				<option>Selecciona la nacionalidad </option>

			</select>
			<br>
			<label asp-for="Candidato.CreatedAT">Fecha de Creación:</label>
			<input type="text" asp-for="Candidato.CreatedAT" style="width : 300px; heigth : 1px" placeholder="Fecha">
			<br>
			<br>
			<br>
			<br>

			<br>
			<br>

			<div><button type="submit" value="" class="btn btn-outline-primary ">Registrar</button></div>
			<br>
			<br>

			<div class=""><a asp-page="/Proyect/PageReferencia/Create" class="btn btn-dark">Siguiente</a></div>

			<div class=""><a asp-page="./IndexCandidato" class="btn btn-primary">Cancelar</a></div>

		</form>




	</body>
</html>









}
