body {

}

table {
	background: white;
	width: 50%;
	margin: 0 auto;
	margin-top: 2%;
	border-collapse: collapse;
	text-align: center;
}

th {
	background-color: darkmagenta;
	height: 35px;
	border-bottom: 1px solid rgb(210, 220, 250);
	color: white;
}

td {
	color: rgba(100, 100, 100, 60);
	height: 30px;
	border: 0.5px solid rgba(240, 240, 240, 10);
}

tfoot {
	font-weight: bold;
}

/*Pseudo-clases*/
th:hover {
	background-color: rgba(20, 20, 20, 90);
}

tr:hover {
	background-color:mediumorchid;
}

/* Estililos de clases*/
.PrecioTotal:hover,
.CantidadTotal:hover {
	color: rgb(230, 50, 50);
}

.Cabecera {
	background-color: mediumslateblue;
	border-radius: 4px;
	height: 30px;
	padding: 2em;
	margin: 0 25%;
	text-align: center;
	color: white;
}

a {
	text-decoration: none;
	color: black;
	font-size: 10pt;
	font-weight:400;
}

