@page
@model RhUI.Pages.Proyect.AdministracionModel
@{
	<!doctype html>
	<html>
	   <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>@ViewData["Title"] - Work-Io</title>
	   </head>
	   <body style="margin-right:50px; background-color:white; margin-left:50px; margin-top:25px; border:double; border-color:darkmagenta;">
	   	<link href="~/css/NWKBZdV.css" rel="stylesheet" />
	   	<script src="~/js/NWKBZdV.js"></script>
	   	<h3>Administrador</h3>
	   	<div>
	   		<a href="#" class="btn btn-primary m-1 ">Registrar Empresa</a>
	   	</div>
	   	<label for="VisLab">Selecciona la informacion del que desea tener acceso</label>
	   	<select name="selectBusq">
	   		<option value="selectBus" selected>Selecciona </option>
	   		<option value="Empresa">Empresa </option>
	   		<option value="Orden">Orden</option>
	   		<option value="Candidato">Candidato</option>
	   
	   	</select>










	   </body>
	</html>
	}