@page
@model RhUI.Pages.Proyect.RegistrarEmpresaModel
@{
	ViewData["Title"] = "Referencia";
	<!doctype html>
	<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>@ViewData["Title"] - Work-Io</title>
	</head>
	<body style="margin-right:50px; background-color:white; margin-left:50px; margin-top:25px; border:double; border-color:darkmagenta;">
		<link href="~/css/NWKBZdV.css" rel="stylesheet" />
		<script src="~/js/NWKBZdV.js"></script>
		<h3>Registro de Empresas</h3>
		<p style="color:black; font-size:25px;">Empresa</p>
		<div>
			<div class="container">

				<script src="http://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js"></script>
				<canvas id="c1">
				</canvas>

				<label for="name">Nombre:</label>
				<input type="text" id="name" name="user_name">
				<label for="Telefono">Telefono:</label>
				<input type="text" id="Telef" name="user_Tel">

				<p style="font-size: 14px;">Cargar Imagen</p>
				<input type="file" id="f1" multiple=" false " accept="image/*" onchange="cargar()">

			</div>

			<div>
				<label for="Correo">Correo:</label>
				<input type="text" id="Email" name="User_Email">
				<label for="Direccion">Direccion:</label>
				<input type="text" id="Direccion" name="user_Direccion">

			</div>
			<div>
			   <a href="#" class="btn btn-primary m-1 ">Guardar</a>
		    </div>
			
	</body>
</html>











}
