@page
@model RhUI.Pages.Proyect.RegistrarEmpresaModel
@{
	ViewData["Title"] = "Referencia";
	<!doctype html>
	<html>


	<body style="margin-right:50px; background-color:white; margin-left:50px; margin-top:25px; border:double; border-color:darkmagenta;">
		<link href="~/css/NWKBZdV.css" rel="stylesheet" />
		<script src="~/js/NWKBZdV.js"></script>
		<h3>Registro de Empresas</h3>
		<p style="color:black; font-size:25px;">Empresa</p>
		<form method="post" enctype="multipart/form-data">
			<div>
				<div class="container">



					<label asp-for="Empresa.Nombre">Nombre:</label>
					<input type="text" asp-for="Empresa.Nombre" class="form-control form-text" placeholder="Nombre Empresa">
					<label asp-for="Empresa.Telefono">Telefono:</label>
					<input type="text" asp-for="Empresa.Telefono" class="form-control form-text" placeholder="Telefono Empresa">



				</div>

				<div>
					<label asp-for="Empresa.Correo">Correo:</label>
					<input type="text" asp-for="Empresa.Correo" class="form-control form-text" placeholder="Correo">
					<label asp-for="Empresa.Direccion">Direccion:</label>
					<input type="text" asp-for="Empresa.Direccion" class="form-control form-text" placeholder="Direccion">

				</div>

			</div>

			    <div class="col-xs-12 col-md-6"><button type="submit" value="" class="btn btn-success btn-block btn-lg">Registrar</button></div>
		



        </form>

	</body>

</html>

}




<!-