@page
@model RhUI.Pages.Proyect.PageEmpresa.EditModel
@{
}
<h2>Editar información</h2>

<h4>Empresa</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Empresa.Id" />
			<div class="form-group">
				<label asp-for="Empresa.Id" class="control-label">ID Empresa: </label>
				<input asp-for="Empresa.Id" class="form-control" disabled/>
				<span asp-validation-for="Empresa.Id" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Empresa.Nombre" class="control-label">Nombre: </label>
				<input asp-for="Empresa.Nombre" class="form-control" disabled/>
				<span asp-validation-for="Empresa.Nombre" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Empresa.Telefono" class="control-label">Telefono: </label>
				<input asp-for="Empresa.Telefono" class="form-control" />
				<span asp-validation-for="Empresa.Telefono" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Empresa.CreatedAT" class="control-label">Fecha de registro: </label>
				<input asp-for="Empresa.CreatedAT" class="form-control" disabled />
				<span asp-validation-for="Empresa.CreatedAT" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Empresa.Correo" class="control-label">Correo: </label>
				<input asp-for="Empresa.Correo" class="form-control" />
				<span asp-validation-for="Empresa.Correo" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Empresa.Direccion" class="control-label">Dirección: </label>
				<input asp-for="Empresa.Direccion" class="form-control" />
				<span asp-validation-for="Empresa.Direccion" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Empresa.Perfil.Nombre" class="control-label">Perfil: </label>
				<input asp-for="Empresa.Perfil.Nombre" class="form-control" disabled />
				<span asp-validation-for="Empresa.Perfil.Nombre" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Guardar" class="btn btn-primary" /> |
				<a class="btn btn-secondary" asp-page="./IndexEmpresa">Cancelar</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}